BasedOnStyle: LLVM
IndentWidth: 3
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false   # keep `{` on same line as `if`, `while`, etc.
  BeforeElse: true               # put `else` on a new line
IndentCaseLabels: true
